.wrap {
    width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 40px;
}

.h1 {
    font-size: 80px;
    line-height: 95px;
    border-bottom: 2px solid #000;
    padding-bottom: 24px;
}



.header img {
    margin: 48px 0 ;
}


.h2 {
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

.h2 span {
    font-size: 24px;
    padding-left: 16px;
    line-height: 29px;
    color: #A00404;
}

.h2-dark {
    color:#fff;
    text-align:center;
    border-bottom: 1px solid #fff;
}

.h2-dark span {
    color: #fff;
}

.profile, .education, .experience {
    margin-bottom: 72px;
}


.desc {
    margin-top: 16px;
    font-size: 24px;
    line-height: 36px;
}

.desc-dark {
    color: #fff;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.skills {
    background-color: #415165;
    margin-bottom: 72px;
    padding-top: 24px;
}

.skills h2 {
    width: 996px;
    margin: 0 auto;
}

.skilllist {
    width: 224px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 32px;
    padding-bottom: 52px;
}

.skilllist li {
    padding-left: 24px;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    border-left: 1px solid gray;
}


.exlist {
    margin-top: 16px;
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
}

.exlist li {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    padding-left: 24px;    
}

.exlist li p {
    width: 642px;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    padding-bottom: 8px;
}

.footer {
    background-color: #415165;
    padding: 24px 0 36px 0;
}


.contact h2 {
    width: 1200px;
    margin: 0 auto;
}

.desc-dark a {
    text-decoration: none;
    color: #fff;
}

.desc-dark a:hover {
    color: pink;
}

.socialmedia {
    display:flex;
    justify-content: center;
}

.socialmedia a {
    margin: 12px ;
}